.even-row {
    background-color: #F5F5F5;
}
.odd-row {
    background-color: FFFFFF;
}


/* Set tab text color */
.ant-tabs-tab {
    color: #ACABAB !important;
}




.custom-stages-table .ant-table-thead > tr > th {
    background-color: #FFFFFF !important;
    font-size: 14px;
    text-align: start;
}

.custom-stages-table .ant-table-thead .ant-table-cell::before {
    display: none !important;
}




